<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<body>
<div layout:fragment="content1">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Liste des <b>Medecins</b></h2></div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <form method="get" th:action="@{doctors}">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Search&hellip;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Phone</th>
                    <th>Speciality</th>
                    <th>Available</th>
                    <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listDoctors}">
                    <td th:text="${p.getId()}"></td>
                    <td th:text="${p.getName()}"></td>
                    <td th:text="${p.getBirthday()}"></td>
                    <td th:text="${p.getPhone()}"></td>
                    <td th:text="${p.getSpeciality()}"></td>
                    <td th:text="${p.isDesponible()}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a th:href="@{/admin/deleteDoctor(id=${p.getId()})}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b th:text="${size}"></b> out of <b th:text="${allPages}"></b> entries</div>
                <ul class="pagination" th:each="page,status:${pages}">
                    <li th:class="${status.index==current?'page-item active':'page-item'}" ><a th:href="@{/user/doctors(page=${status.index},keyword=${keyword})}"  th:text="${status.count}" class="page-link"></a></li>
                </ul>
            </div>
        </div>
</div>
</body>
</html>